<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Blog Website</title>
</head>
<body>
    <nav>
        <div class="left">
            <p>Blogger</p>
        </div>
        <div class="right">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Styles</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        </div>
    </nav>